<div class="mt-4">
  <div class="row">
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
      <div class="col-lg-12"><h3>Sửa khóa học</h3></div>
      <div class="mb-3">
        <label for="name" class="form-label">Tên Khóa học</label>
        <input type="text" class="form-control" id="name" name="name" value="{{course.name}}"/>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Mô tả</label>
        <input type="text" class="form-control" id="description" name="description" value="{{course.description}}" />
      </div>
      <div class="mb-3">
        <label for="slug" class="form-label">Slug</label>
        <input type="text" class="form-control" id="slug" name="slug" value="{{course.slug}}" />
      </div>
      <div class="mb-3">
        <label for="videoId" class="form-label">Video</label>
        <input type="text" class="form-control" id="videoId" name="videoId" value="{{course.videoId}}" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>